{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "admin/css/select2totree.css" %}">
    <style>
        #id_attributes {
            height: 150px;
        }
    </style>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_view_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}
            {{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        {% change_form_object_tools %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        <fieldset class="module aligned {{ fieldset.classes }}">
                            {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
                            {% if fieldset.description %}
                                <div class="description">{{ fieldset.description|safe }}</div>
                            {% endif %}
                            {% for line in fieldset %}
                                <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                                    {% for field in line %}

                                        <div{% if not line.fields|length_is:'1' %}
                                            class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %}
                                            class="checkbox-row"{% endif %}>
                                            {% if not line.fields|length_is:'1' and not field.is_readonly %}
                                                {{ field.errors }}{% endif %}
                                            {% if field.is_checkbox %}
                                                {{ field.field }}{{ field.label_tag }}
                                            {% else %}
                                                {{ field.label_tag }}
                                                {% if field.is_readonly %}
                                                    <div class="readonly">{{ field.contents }}</div>
                                                {% else %}
                                                    {{ field.field }}
                                                {% endif %}
                                            {% endif %}
                                            {% if field.field.name == "attributes" or field.field.name == "categories" %}
                                                <input type="hidden" class="data-value-{{ field.field.name }}"
                                                       value="{{ field.field.value }}">
                                            {% endif %}
                                            {% if field.field.help_text %}
                                                <div class="help">{{ field.field.help_text|safe }}</div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% endfor %}
                {% endblock %}


                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="{% static 'admin/js/change_form.js' %}"
                            {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                            {% endif %}>
                    </script>
                    <script
                            src="https://code.jquery.com/jquery-3.5.1.js"
                            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                            crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
                    <script src="{% static "admin/js/select2totree.js" %}"></script>
                    <script>
                        $('#id_attributes option').remove();
                        $('#id_attributes').select2();
                        const attribute_values = $('.data-value-attributes').val(); //selected attributes on edit
                        const category_values = $('.data-value-categories').val(); //selected categories on edit
                        let categories = null;
                        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                        function csrfSafeMethod(method) {
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

                        $.ajaxSetup({
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        $.ajax({
                            method: 'get',
                            url: '/get-categories',
                            data: {
                                "category_values": category_values
                            },
                            success: function (response) {
                                categories = response.data;
                                if(categories){
                                    getAttibutes(categories);
                                }
                            },
                        }).done(function () {
                            $('#id_categories option').remove();
                            $('#id_categories').select2ToTree({treeData: {dataArr: categories}});
                            $('#id_categories').on('change', function () {
                                getAttibutes(categories);
                            })
                        })

                        function getAttibutes(categories) {
                            const category_options = $('#id_categories').find(':selected');
                            categories = [];
                            $.each(category_options, function () {
                                categories.push($(this).val());
                            });
                            $.ajax({
                                method: 'POST',
                                contentType: 'application/json',
                                url: "{% url 'get_attributes' %}",
                                data: JSON.stringify({
                                    "categories": categories,
                                    "attribute_values": attribute_values
                                }),
                                success: function (response) {
                                    $('#id_attributes').html('');
                                    $('#id_attributes').html(response).select2();
                                }
                            })
                        }
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>
    </div>
{% endblock %}
