{% extends "admin/base.html" %}
{% load static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
    {% csrf_token %}
    <style>
        .submit-row a.deletelink {
            height: auto;
        }

        .btn-lg, .btn-group-lg > .btn, .submit-row .deletelink-box .btn-group-lg > .deletelink, #content-main > .object-tools > li.btn-group-lg > a:not([class*="btn-"]), #changelist #toolbar #changelist-search .btn-group-lg > input[type='submit'], #changelist #changelist-form .actions .btn-group-lg > button, #changelist #changelist-form .paginator .btn-group-lg > input[type='submit'], body.delete-confirmation .content-wrap input[type='button'], body.delete-confirmation .content-wrap input[type='submit'], body.delete-confirmation .content-wrap button, .submit-row input[type='submit']:not([class*="btn-"]), .submit-row input[type='button']:not([class*="btn-"]), .submit-row button:not([class*="btn-"]), body.login .submit-row input[type='submit'] {
            padding: 7px 14px;
        }

        #changelist #toolbar form #searchbar {
            height: auto;
        }
    </style>
{% endblock %}


{# Additional CSS includes #}
{#{% block extrastyle %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}

{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}

{% endblock %}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{% block footer_branding %}
{% endblock %}



{% block copyright %}
    Developed by MHECOMMERCE
{% endblock %}