<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
</head>
<body>
<ul>
    {% for brand in brands %}
        <a href="{{ brand.get_absolute_url }}"><li>{{ brand.title }}</li></a>
    {% endfor %}
</ul>
</body>
</html>