<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.title }}</title>
</head>
<body>
<ul>
    <li><a href="?lang=az">Az</a></li>
    <li><a href="?lang=en">En</a></li>
    <li><a href="?lang=ru">Ru</a></li>
</ul>
<h1>{{ category.title }}</h1>
</body>
</html>